<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meer.model.dao.CalendarDao">

	<insert id="insertCalendarLayout" parameterType="String">
		INSERT INTO calendar (user_id)
		VALUES (#{userId});
	</insert>

	<update id="updateCalendar" parameterType="int">
		UPDATE calendar c
		JOIN (
		SELECT user_id, COUNT(*) as completed_missions
		FROM mission
		WHERE mission_check = true
		GROUP BY user_id
		) m ON c.user_id = m.user_id
		SET c.day${day} = m.completed_missions;
	</update>

	<update id="resetCalendar">
		UPDATE calendar
		SET day1 = 0,
		day2 = 0,
		day3 = 0,
		day4 = 0,
		day5 = 0,
		day6 = 0,
		day7 = 0,
		day8 = 0,
		day9 = 0,
		day10 = 0,
		day11 = 0,
		day12 = 0,
		day13 = 0,
		day14 = 0,
		day15 = 0,
		day16 = 0,
		day17 = 0,
		day18 = 0,
		day19 = 0,
		day20 = 0,
		day21 = 0,
		day22 = 0,
		day23 = 0,
		day24 = 0,
		day25 = 0,
		day26 = 0,
		day27 = 0,
		day28 = 0,
		day29 = 0,
		day30 = 0;
		day31 = 0;
	</update>

	<select id="selectCalendar" parameterType="String" resultType="Map">
			SELECT -1, day1, day2, day3, day4, day5, day6, day7, day8, day9, day10,
			day11, day12, day13, day14, day15, day16, day17, day18, day19, day20,
			day21, day22, day23, day24, day25, day26, day27, day28, day29, day30, day31
			FROM calendar
			WHERE user_id=#{userId};
	</select>

</mapper>