<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meer.model.dao.UserDao">

	<insert id="insertUser" parameterType="User">
		INSERT INTO user (user_id, user_password, user_nickname)
		VALUES
		(#{userId}, #{userPassword}, #{userNickname});
	</insert>

	<select id="selectOneById" resultType="User" parameterType="String">
		SELECT * from user
		WHERE user_id = #{userId}
	</select>
	
	<select id="selectOneByNickname" resultType="User" parameterType="String">
		SELECT * from user
		WHERE user_nickname = #{userNickname}
	</select>
	
	<update id="updateRandomNumber">	
		UPDATE user 
		SET fortune_number = 1+(RAND()*100 %14),
		sentence_number = 1+(RAND()*100 %9); 
	</update>
	
	<select id="login" parameterType="User" resultType="User">
		SELECT * from user
		WHERE user_id = #{userId} AND user_password = #{userPassword}
	</select>

	<select id="selectConditionById" parameterType="String" resultType="Condition">
		SELECT user_id as userId, mission_subject as subject, mission_condition1 as condition1, mission_condition2 as condition2, mission_condition3 as condition3
		FROM user
		WHERE user_id = #{userId}
	</select>

	<update id="updateMissionCondition" parameterType="Condition">
		UPDATE user
		SET mission_subject = #{subject},
		mission_condition1 = #{condition1},
		mission_condition2 = #{condition2},
		mission_condition3 = #{condition3}
		WHERE user_id = #{userId}
	</update>
	
	<select id = "checkFortune" parameterType="String" resultType="boolean">
		SELECT fortune_check 
		FROM user
		WHERE user_id = #{userId}
	</select>
	
	<update id="updateFortuneCheck" parameterType="String">
		UPDATE user
		SET fortune_check = true
		WHERE user_id = #{userId}
	</update>
	
	<update id="resetFortuneCheck">
		UPDATE user
		SET fortune_check = false
	</update>
	
	
	
	<select id="findPassword" parameterType="String" resultType="User">
		SELECT *
		FROM user
		WHERE user_id = #{userId}
	</select>
	
	<update id="updatePassword" parameterType="ChangePassword">
		UPDATE user
		SET user_password = #{newPassword}
		WHERE user_id = #{userId}
	</update>
</mapper>